

table {
	background: rgb(191, 209, 174);
	width: 100%;
	border-collapse: none;
	text-align: top;
}

table tr {
	border: 1px solid #757575;
	padding: 1rem 0; 
}

table th,
table td {
	padding: 1rem;
	text-align: center;
	width: 20%;
	height: 50%;
}

table tr td {
	text-align: center;
	font-weight: bold;
	vertical-align: bottom;
	width: 20%;
	height: 50%;
}

table tr:hover {
	background-color: rgb(226, 233, 224);
}

 table th {
	 background-color: rgb(130, 146, 116);
	color: black;
	font-weight: bold;
	font: 1.6rem;
	width: 20%;
	height: 50%;

}

.table-container {
	padding: 2rem 1rem;

}

.table-container h3 {
	font-size: 1.8rem;
	font-style: normal;
	margin-bottom: 1rem;

}
